<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" class="hidden-xs hidden-sm" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Tiendas cerca de ti</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="" dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>           

            <div class="row">
                <div class="col-xs-12" data-ng-controller="directoryCtrl as dirctrl">
                    <div class="row">
                        <!-- Directory -->
                        <div class="company col-xs-12 col-md-6 col-lg-4" data-ng-repeat="company in dirctrl.result.list">
                            <div class="card">
                                <div class="offer" data-ng-if="company.promo && company.promo.name !== ''">
                                    <a><span class="zmdi zmdi-local-offer"></span>{{company.promo.name}}</a>
                                </div>
                                <div class="brand-header">
                                    <a class="text-center"><img src="img/custom/logos/{{company.id}}/{{company.logo}}"/></a>
                                </div>
                                <div class="card-cover" data-ng-style="{'background-image':'url(img/custom/covers/' + company.id +'/' + company.cover + ')'}">
                                    <span class="short-name">{{company.shortName}}</span>
                                    <a  class="star-product"><span class="zmdi zmdi-star-circle"></span><span>{{company.starProduct.name}} {{company.starProduct.price | currency}}</span></a>
                                </div>
                                <div class="card-body">
                                    <div class="love-container">
                                        <div class="love-bar" data-ng-style="{'width' : (company.loveBar.likes * 100 / (company.loveBar.likes + company.loveBar.likes)) + '%' }">
                                        </div>
                                    </div>
                                    <ul class="card-data">
                                        <li class="love">
                                            <span class="zmdi zmdi-wifi"></span>{{company.loveBar.likes}}
                                        </li><li class="rating">
                                            <span class="zmdi zmdi-star"></span>{{company.loveBar.rating}}
                                        </li><li class="clients">
                                            <span class="zmdi zmdi-account"></span>{{company.loveBar.clients}}
                                        </li><li class="price">
                                            <span class="zmdi zmdi-money-box"></span>${{company.price}}</li>
                                    <div>
                                </div>
                            </div>
                            <div class="card-detail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer class="hidden-xs hidden-sm" id="footer" data-ng-include="'template/footer.html'"></footer>
