<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === false }"></aside>

    <aside id="chat" class="hidden-xs hidden-sm" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container" data-ng-hide="mactrl.selected">
            <div class="block-header">
                <h2>Tiendas cerca de ti</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="" dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>           

            <div class="row">
                <div class="col-xs-12" data-ng-controller="directoryCtrl as dirctrl">
                    <div class="row">
                        <!-- Directory -->
                        <div class="company col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="company in dirctrl.result.list" data-ng-click="mactrl.selected = company">
                            <div class="card" data-ng-class="{ 'promo': company.promo && company.promo.name !== '' }">
                                <div class="promo" data-ng-if="company.promo && company.promo.name !== ''">
                                    <a><span class="zmdi zmdi-local-offer"></span>{{company.promo.name}}</a>
                                </div>
                                <div class="brand-header">
                                    <a class="text-center"><img alt="{{company.shortName" with="80" height="80" src="img/custom/logos/{{company.id}}/{{company.logo}}"/></a>
                                </div>
                                <div class="card-cover" data-ng-style="{'background-image':'url(img/custom/covers/' + company.id +'/' + company.cover + ')'}">
                                    <span class="short-name">{{company.shortName}}</span>
                                    <a  class="star-product"><span class="zmdi zmdi-star-circle"></span><span>{{company.starProduct.name}} {{company.starProduct.price | currency}}</span></a>
                                </div>
                                <div class="card-body">
                                    <div class="love-container">
                                        <div class="love-bar" style="width:0%" data-ng-style="{'width' : (company.loveBar.likes * 100 / (company.loveBar.likes + company.loveBar.likes)) + '%' }">
                                        </div>
                                    </div>
                                    <ul class="card-data">
                                        <li class="love">
                                            <span class="zmdi zmdi-favorite"></span>{{company.loveBar.likes}}
                                        </li><li class="rating">
                                            <span class="zmdi zmdi-star"></span>{{company.loveBar.rating}}
                                        </li><li class="clients">
                                            <span class="zmdi zmdi-account"></span>{{company.loveBar.clients}}
                                        </li><li class="price">
                                            <span class="zmdi zmdi-money-box"></span>${{company.price}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container detail" data-ng-show="mactrl.selected">   

            <!-- Detail -->
            <div class="card" data-ng-class="{ 'promo': mactrl.selected.promo && mactrl.selected.promo.name !== '' }">
                <div class="promo" data-ng-if="mactrl.selected.promo && mactrl.selected.promo.name !== ''">
                    <a><span class="zmdi zmdi-local-offer"></span>{{mactrl.selected.promo.name}}</a>
                </div>
                <div class="card-cover" data-ng-style="{'background-image':'url(img/custom/covers/' + mactrl.selected.id +'/' + mactrl.selected.cover + ')'}">
                    <div class="brand-header">
                        <a class="text-center"><img alt="{{mactrl.selected.shortName" with="80" height="80" src="img/custom/logos/{{mactrl.selected.id}}/{{mactrl.selected.logo}}"/></a>
                        <div class="name-container">
                            <span class="big-short-name">{{mactrl.selected.shortName}}</span>
                            <small>{{mactrl.selected.slogan}}</small>
                            <ul class="card-data">
                                <li class="love">
                                    <span class="zmdi zmdi-favorite"></span>{{mactrl.selected.loveBar.likes}}
                                </li><li class="rating">
                                    <span class="zmdi zmdi-star"></span>{{mactrl.selected.loveBar.rating}}
                                </li><li class="clients">
                                    <span class="zmdi zmdi-account"></span>{{mactrl.selected.loveBar.clients}}
                                </li><li class="price">
                                    <span class="zmdi zmdi-money-box"></span>${{mactrl.selected.price}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="love-container">
                        <div class="love-bar" style="width:0%" data-ng-style="{'width' : (mactrl.selected.loveBar.likes * 100 / (mactrl.selected.loveBar.likes + mactrl.selected.loveBar.likes)) + '%' }">
                        </div>
                    </div>                    
                    <a  class="star-product"><span class="zmdi zmdi-star-circle"></span><span>{{mactrl.selected.starProduct.name}} {{mactrl.selected.starProduct.price | currency}}<small class="hidden-xs"><span class="zmdi zmdi-account"></span> 200 han ordenado</small></span><span class="order">Ordenar <span class="hidden-xs">ahora!<span></span></a>
                    <div class="contact-info">
                        <div class="phone">
                            <div><span class="zmdi zmdi-phone"></span><label class="hidden-xs">{{mactrl.selected.contactInfo.phoneNumber}}</label></div><div><span class="zmdi zmdi-whatsapp"></span><label class="hidden-xs">{{mactrl.selected.contactInfo.whatsapp}}</label></div><div><span class="zmdi zmdi-directions"></span><label class="ellipsis hidden-xs">{{mactrl.selected.contactInfo.address}}</label></div>
                        </div>
                        <div class="qualify">
                            <div><span class="favorite"></span><label></label></div>
                            <div><span class="favorite"></span><label></label></div>
                        </div>
                        <div class="contact"><span class="zmdi zmdi-account"></span><label>{{mactrl.selected.contactInfo.contact}}</label></div>
                        <div class="address" data-ng-click="mactrl.selected.contactInfo.expanded = !mactrl.selected.contactInfo.expanded"><span class="zmdi zmdi-pin"></span><label>{{mactrl.selected.contactInfo.address}}</label></div>
                        <div class="map" collapse="!mactrl.selected.contactInfo.expanded">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.05536577105!2d-99.17145528557049!3d19.410013646433264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4069dc500d%3A0x338c7ac5eefcd2b8!2sMr.+Buns!5e0!3m2!1ses!2smx!4v1449378130134" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="event"><span class="zmdi zmdi-calendar"></span><label>{{mactrl.selected.event}}</label></div>
                        <div class="opening-times">
                            <span class="zmdi zmdi-time"></span>
                            <label>
                                <table>
                                    <thead>
                                        <td>L</td>
                                        <td>M</td>
                                        <td>M</td>
                                        <td>J</td>
                                        <td>V</td>
                                        <td>S</td>
                                        <td>D</td>
                                    </thead>                                    
                                    <tbody>
                                        <tr>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                            <td>8:20</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </label>
                        </div>
                        <div class="about"><span class="zmdi zmdi-bookmark"></span><label>{{mactrl.selected.description}}</label></div>                        
                    </div>
                    <div class="products">
                        <span class="zmdi zmdi-shopping-cart"></span>Productos
                    </div>
                    <ul class="store row">
                        <li class="col-xs-12" data-ng-repeat="product in mactrl.selected.store">
                            <div class="rating zmdi zmdi-star"></div>
                            <img src="img/custom/products/{{product.img}}">
                            <label class="name">{{product.name}}</label>
                            <span class="detail">{{product.detail}}</span>
                            <span class="price">${{product.price}}</span>
                            <span class="delivery">{{product.delivery}}</span>
                            <button class="order" text="Ordenar">Ordenar</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>
</section>

<footer class="hidden-xs hidden-sm" id="footer" data-ng-include="'template/footer.html'"></footer>
